In [9]:
import pandas as pd

'''
asteroid=pd.read_csv('Asteroid.csv')

for p in asteroid:
    asteroid=asteroid[asteroid[p].notnull()]
print(len(asteroid))

asteroid.to_csv('processed.csv')
'''
df = pd.read_csv('processed.csv')
df.drop(labels="index", axis=1, inplace=True)
df['neo'] = df['neo'].map({'Y': 1, 'N': 0})
df['pha'] = df['pha'].map({'Y': 1, 'N': 0})
df.head()

c:\Users\gabri\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,semi-major_axis,perihelion_distance,aphelion_distance,orbital_period,data_arc-span,orbit_condition_code,number_observations,absolute_magnitude,diameter,albedo,neo,pha,moid
0,2.769165,2.558684,2.979647,4.608202,8822.0,0.0,1002,3.34,939.4,0.0900,0,0,1.59478
1,2.772466,2.133865,3.411067,4.616444,72318.0,0.0,8490,4.13,545,0.1010,0,0,1.23324
2,2.669150,1.983332,3.354967,4.360814,72684.0,0.0,7104,5.33,246.596,0.2140,0,0,1.03454
3,2.361418,2.151909,2.570926,3.628837,24288.0,0.0,9325,3.20,525.4,0.4228,0,0,1.13948
4,2.574249,2.082324,3.066174,4.130323,63431.0,0.0,2861,6.85,106.699,0.2740,0,0,1.09589